<% content_for :title, 'Log In' %>

<div class="row">
	<div class="twelve columns">
		<h1>Log in</h1>

		<%= form_tag sessions_path do %>
			<div class="row">
		    <div class="two mobile-one columns">
		      <%= label_tag :email, "Email Address:", :class => 'right inline' %>
		    </div>
		    <div class="ten mobile-three columns">
		      <%= text_field_tag :email, params[:email], :class => 'four' %>
		    </div>
		  </div>

		  <div class="row">
		    <div class="two mobile-one columns">
		      <%= label_tag :password, "Password:", :class => 'right inline' %>
		    </div>
		    <div class="ten mobile-three columns">
		    <%= password_field_tag :password, '', :class => 'four' %>
		    </div>
		  </div>

		  <div class="row">
		    <div class="ten mobile-two columns push-two">
		    	<%= submit_tag "Log in", :class => 'button' %>
		    </div>
		  </div>
		<% end %>
	</div>
</div>