<% content_for :title, 'New Account' %>

<div class="row">
	<div class="twelve columns">

		<h1>Sign Up</h1>


		<%= form_for @user do |f| %>

		  <% if @user.errors.any? %>
				<div class="error_messages">
		      <h2>Form is invalid</h2>
		      <ul>
		        <% for message in @user.errors.full_messages %>
		          <li><%= message %></li>
		        <% end %>
		      </ul>
		    </div>
		  <% end %>


			<div class="row">
		    <div class="two mobile-one columns">
		      <%= f.label :email, "Email Address:", :class => 'right inline' %>
		    </div>
		    <div class="ten mobile-three columns">
		      <%= f.text_field :email, :class => 'four' %>
		    </div>
		  </div>

 			<div class="row">
		    <div class="two mobile-one columns">
		      <%= f.label :password, "Password:", :class => 'right inline' %>
		    </div>
		    <div class="ten mobile-three columns">
		    <%= f.password_field :password, :class => 'four' %>
		    </div>
		  </div>

		  <div class="row">
		    <div class="two mobile-one columns">
		      <%= f.label :password_confirmation, "Password Again:", :class => 'right inline' %>
		    </div>
		    <div class="ten mobile-three columns">
		    	<%= f.password_field :password_confirmation, :class => 'four' %>
		    </div>
		  </div>

		  <div class="row">
		    <div class="ten mobile-four columns push-two">
		    	<%= submit_tag "Sign Up", :class => 'button' %>
		    </div>
		  </div>
		<% end %>
	</div>
</div>