<% content_for :title, @site.url %>
<div class="row">
	<div class="twelve columns">
		<h2><%= @site.url %> <small><span class="alert label radius"><%= link_to 'Delete', @site, :method => 'delete', :confirm => 'Are you sure?' %></span></small></h2>

		<%= form_for [@site, @snapshot] do |f| %>
			<%= f.submit "New Snapshot" %>
		<% end %>

		<ul>
			<% for snapshot in @snapshot_list %>
				<li><%= image_tag "/uploads/#{snapshot.filename}", {:width => 200} %><br />
					<%= snapshot.created_at %></li>
			<% end %>
		</ul>
	</div>
</div>
