<% content_for :title, @site.url %>
<div class="row">
	<div class="twelve columns">
		<h3><%= @site.url %> <small><span class="alert label radius"><%= link_to 'Delete', @site, :method => 'delete', :confirm => 'Are you sure?' %></span></small></h3>

		<%= form_for [@site, @snapshot] do |f| %>
			<%= f.submit "New Snapshot" %>
		<% end %>

		<div class="row">
			<% for snapshot in @snapshot_list %>
				<div class="three mobile-two columns">
					<%= link_to snapshot.public_url do %>
		     		<%= image_tag "#{snapshot.public_url}", {:width => 300} %>
		     	<% end %> 

		      <div class="panel">
		        <h5><%= time_ago_in_words(snapshot.created_at) %> ago</h5>
		      </div>
		    </div>
			<% end %>
		</div>
	</div>
</div>
