<% content_for :title, @site.url %>
<div class="row">
	<div class="twelve columns">
		<h2><%= @site.url %> <small><span class="alert label"><%= link_to 'Delete', @site, :method => 'delete', :confirm => 'Are you sure?' %></span></small></h2>

		<%= form_for @snapshot, :url => new_site_snapshot_path do |f| %>
			<%= f.submit "New Snapshot" %>
		<% end %>

		<ul>
			<% for snapshot in @snapshot_list %>
				<tli><%= snapshot.created_at %></li>
			<% end %>
		</ul>
	</div>
</div>
