<% content_for :title, "Site List" %>
<div class="row">
	<div class="eight columns">
		<h2>Site List</h2>
		<ul>
			<% for site in @site_list %>
				<li><%= site.url %></li>
			<% end %>
		</ul>
	</div>

	<div class="four columns">
		<h2>Add Site</h2>
		<%= form_for @site do |f| %>
			<%= f.label :url %>
			<%= f.text_field :url %>
			<%= f.submit "Add Site" %>
		<% end %>
	</div>
</div>