<% content_for :title, "Site List" %>
<div class="row">
	<div class="eight columns">
		<h3>Site List</h3>
		<p><%= session[:user_id] %></p>
		<table class="twelve">
		  <thead>
		    <tr>
		      <th>URL</th>
		      <th>Title</th>
		      <th>Snapshots</th>
		      <th>% Change</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% for site in @site_list %>
					<tr>
			      <td><%= link_to site.url, site_snapshots_path(site) %></td>
			      <td><%= if site.snapshots.size > 0
			      					site.snapshots.last.title
			      				else
			      					'NA'
			      				end %></td>
			      <td><%= site.snapshots.size %></td>
			      <td>0%</td>
			    </tr>
				<% end %>
		  </tbody>
		</table>
	</div>

	<div class="four columns">
		<h3>Add Site</h3>
		<%= form_for @site do |f| %>
			<%= f.label :url %>
			<%= f.text_field :url %>
			<%= f.submit "Add Site" %>
		<% end %>
	</div>
</div>